---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&line_items[0][price]=price_test_000000000000000000000005&line_items[0][quantity]=1&customer_email=art.christiansen%40connelly-reilly.example&success_url=http%3A%2F%2Flocalhost%3A3000%2Fsuccess&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fcancel&metadata[trial_id]=9050aea2-2f6e-4a7b-9ced-39420192d35a&metadata[user_id]=1e178f36-38c9-41e6-a515-1a061286b1d4&metadata[plan]=starter&metadata[business_name]=Senger-Nikolaus
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
      Idempotency-Key:
      - checkout:1e178f36-38c9-41e6-a515-1a061286b1d4:9050aea2-2f6e-4a7b-9ced-39420192d35a
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - checkout:1e178f36-38c9-41e6-a515-1a061286b1d4:9050aea2-2f6e-4a7b-9ced-39420192d35a
      Original-Request:
      - req_iTRaqwjm405flt
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test_000000000000000000000005'",
            "param": "line_items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/logs/req_iTRaqwjm405flt?t=1761500736",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 26 Oct 2025 17:45:36 GMT
recorded_with: VCR 6.3.1
