---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&line_items[0][price]=price_test_000000000000000000000004&line_items[0][quantity]=1&customer_email=hyman%40oreilly.example&success_url=http%3A%2F%2Flocalhost%3A3000%2Fsuccess&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fcancel&metadata[trial_id]=8c3a529c-fe00-4c3e-bf7e-55906c7465fb&metadata[user_id]=f3b42a8d-04ad-4288-9880-3bc29b05ab71&metadata[plan]=pro&metadata[business_name]=Corkery-Collins
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
      Idempotency-Key:
      - checkout:f3b42a8d-04ad-4288-9880-3bc29b05ab71:8c3a529c-fe00-4c3e-bf7e-55906c7465fb
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - checkout:f3b42a8d-04ad-4288-9880-3bc29b05ab71:8c3a529c-fe00-4c3e-bf7e-55906c7465fb
      Original-Request:
      - req_rqUnpDlRyadmQt
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test_000000000000000000000004'",
            "param": "line_items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/logs/req_rqUnpDlRyadmQt?t=1761500736",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 26 Oct 2025 17:45:36 GMT
recorded_with: VCR 6.3.1
